<h2 class="section-title">{{ .titles.schedule }}</h2>

<p>{{ .subtitles.schedule }}</p>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Slot</th>
        <th class="schedule-description">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentations nil }}
          <tr>
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">
              {{ .session }}
              <span class="speakers-company">Chair: {{ .chair }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.description }}
	      <ul class="schedule-ul">
		{{ range $presentation := .presentations }}
		<li>
		  {{ .title }}. <i>{{ .author }}</i>{{ if ne .pdf nil }}, <a url="{{ .pdf }}" target="_blank">pdf</a> {{ end }}{{ if ne .pdf nil }}, <a url="{{ .slides }}" target="_blank">slides</a> {{ end }}
		</li>
		{{ end }}  
	    </td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .session }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
